* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f7f9fb;
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 16px 64px;
}
